.topBar {
  margin: 10px 0px 0px 0px;
  text-align: center;
}

.gameButton {
  width: 130px;
  height: 50px;
  border: 3px solid #367fdf;
  border-radius: 25px;
  padding: 0 15px;
  outline: none;
  background-color: #367fdf;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  box-shadow: 0 0 5px #55555555;

  &:hover {
    box-shadow: 0 0 10px #333333aa;
  }
}

.scoreRed {
  width: 100px;
  height: 50px;
  border-radius: 0 25px 25px 0px;
  padding-right: 15px;
  box-sizing: border-box;
  float: left;
  color: white;
  background-color: #a31b22;
  font-size: 40px;
  margin: 0;
  text-align: right;
  box-shadow: 0 0 5px #55555555;
}

.scoreYellow {
  width: 100px;
  height: 50px;
  border-radius: 25px 0 0 25px;
  padding-left: 15px;
  box-sizing: border-box;
  float: right;
  color: white;
  background-color: #f0ec2a;
  font-size: 40px;
  margin: 0;
  text-align: left;
  box-shadow: 0 0 5px #55555555;
}

.alertMessage {
  font-size: 30px;
  margin: 0;
  color: #256ece;
  text-transform: uppercase;
}

.gameBoard {
  display: flex;
  justify-content: center;
}
